.first-section
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
}

.first-section > div
{
    background-color: #ffff00;
    padding:0 2rem;
}


/*Break points*/


/* Large Screen 

>768
*/


/*Tablet 

>=501px to 768px
*/
@media(max-width:768px)
{
    .first-section
    {
        grid-template-columns: 1fr 1fr;
    }

    section > div 
    {
        margin: 0 0 1.5rem 0;
    }
    

}



/*Smart phones

Range > 0px to 500px

*/

@media(max-width:500px)
{
    .first-section
    {
        grid-template-columns: 1fr;
    }

}